{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br><br>

<section id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-4">
                <img src="{% static 'assets/imgs/about.jpg' %}" alt="" class="w-100 img-thumbnail mb-3">
            </div>
            <div class="col-md-7 col-lg-8">
                <h6 class="section-subtitle mb-0">BubeTech</h6>
                <h6 class="section-title mb-3">Our Mission</h6>
                <p>BubeTech is driven by a visionary goal: to revolutionize African agriculture through technology and collaboration. Our mission is clear: to empower smallholder farmers, pastoralists, and stakeholders with innovative solutions that enhance productivity, profitability, and sustainability. We understand the diverse challenges facing African agriculture, from climate change to market access barriers, and we're committed to addressing them head-on.</p>
                <p>At the core of our approach is the democratization of agricultural data and insights. Through user-friendly platforms and cutting-edge technology, we aim to provide farmers with the information they need to make informed decisions and optimize their operations. By leveraging data analytics, IoT devices, and other advancements, we're bridging the gap between traditional farming practices and modern solutions, creating pathways for success across the continent. <a href="{% url 'about' %}">Read more..</p>
            </div>
            <p>BubeTech is driven by a visionary goal: to revolutionize African agriculture through technology and collaboration. Our mission is clear: to empower smallholder farmers, pastoralists, and stakeholders with innovative solutions that enhance productivity, profitability, and sustainability. We understand the diverse challenges facing African agriculture, from climate change to market access barriers, and we're committed to addressing them head-on.</p>
            <p>BubeTech is driven by a visionary goal: to revolutionize African agriculture through technology and collaboration. Our mission is clear: to empower smallholder farmers, pastoralists, and stakeholders with innovative solutions that enhance productivity, profitability, and sustainability. We understand the diverse challenges facing African agriculture, from climate change to market access barriers, and we're committed to addressing them head-on.</p>
            <p>BubeTech is driven by a visionary goal: to revolutionize African agriculture through technology and collaboration. Our mission is clear: to empower smallholder farmers, pastoralists, and stakeholders with innovative solutions that enhance productivity, profitability, and sustainability. We understand the diverse challenges facing African agriculture, from climate change to market access barriers, and we're committed to addressing them head-on.</p>



        </div>

    </div>
</section>

    {% endblock %}
